---
layout: default
title: 首页
---

<h1>eleksbai的学习笔记</h1>
<b>文章标签及统计</b>
<ul class="tag-box inline">
    {% assign tags_list = site.categories %}
    {% if tags_list.first[0] == null %}
    <!--数据为空的默认配置-->
        {% for tag in tags_list %}
        <li><a href="index_category.html#{{ tag }}">{{ tag | capitalize }}  <span>{{ site.tags[tag].size }}</span></a></li>
        {% endfor %}
    {% else %}
        {% for tag in tags_list %}
        <li><a href="index_category.html#{{ tag[0] }}">{{ tag[0] | capitalize }}</a><span>&emsp;共{{ tag[1].size }}篇</span></li>
        {% endfor %}
    {% endif %}
    {% assign tags_list = nil %}
</ul>

<h1>文章列表</h1>
<div id="home">

    <ul class="posts">
        {% for post in site.posts %}
        <li><span class="entry-date"><time
            datetime="{{ post.date | date_to_xmlschema }}"
            itemprop="datePublished">{{ post.date | date: "%Y-%m-%d" }}</time></span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>





